# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# Intellij
.idea/
*.iml

# Distribution
.tmp
dist/

# NPM
node_modules/
npm-debug.log

# Tests
coverage/

# Bower
bower_components/

# ngdocs
docs/

#Vim
*~
