<a href="https://github.com/w20-framework/w20/edit/master/modules/optional.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/optional.js#L34" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">optional</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="optional-page"><p>This module is a RequireJS plugin that allows loading module optionally.
Usage: [optional]!optionalModule</p>
<p>If the module is not present it will be replaced by the following object: { undef: true }</p>
<h4 id="description_configuration">Configuration</h4>
<p>This module has no configuration option.</p>
<h4 id="description_fragment-definition-sections">Fragment definition sections</h4>
<p>This module has no fragment definition section.</p>
</div></div>
</div>
