<a href="https://github.com/w20-framework/w20/edit/master/modules/ui.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L616" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">MenuService</code>
<div><span class="hint">service in module <code ng:non-bindable="">w20CoreUI</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coreui-service-page w20coreui-service-menuservice-page"><p>This service allows managing <strong>&quot;actions&quot;</strong> (topbar element) and <strong>&quot;sections&quot;</strong> (sidebar element) in themes that provides both or part
of this navigation components.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L780" class="view-source icon-eye-open"> </a><h3 id="methods_addaction">addAction(name, type, config)</h3>
<div class="addaction"><div class="w20coreui-service-page w20coreui-service-menuservice-addaction-page"><p>Add a new action to the topbar.</p>
</div><h5 id="methods_addaction_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-addaction-page"><p>The name of the action to add</p>
</div></td></tr><tr><td>type</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-addaction-page"><p>The action type (which should have been registered with registerActionType)</p>
</div></td></tr><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-addaction-page"><p>Configuration of the action to add</p>
</div></td></tr></tbody></table><h4 id="methods_addaction_example">Example</h4>
<div class="example"><div class="w20coreui-service-page w20coreui-service-menuservice-addaction-page"><p>In themes this is used to add the login action. The sortKey determine the position of the action.</p>
<pre><code> menuService.addAction(&#39;login&#39;, &#39;w20-login&#39;, { sortKey: 100 });
</code></pre></div></div>
</div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L759" class="view-source icon-eye-open"> </a><h3 id="methods_addsection">addSection(name, type, config)</h3>
<div class="addsection"><div class="w20coreui-service-page w20coreui-service-menuservice-addsection-page"><p>Add a new section to the sidebar.</p>
</div><h5 id="methods_addsection_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-addsection-page"><p>The name of the section to add</p>
</div></td></tr><tr><td>type</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-addsection-page"><p>The section type (which should have been registered with registerSectionType)</p>
</div></td></tr><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-addsection-page"><p>Configuration of the section to add</p>
</div></td></tr></tbody></table><h4 id="methods_addsection_example">Example</h4>
<div class="example"><div class="w20coreui-service-page w20coreui-service-menuservice-addsection-page"><p>In themes this is used to add the views sections which display routes.
The templateUrl provide a template to use.</p>
<pre><code> menuService.addSection(&#39;views&#39;, &#39;w20-views&#39;, {
     templateUrl: &#39;{w20-business-theme}/templates/sidebar-views.html&#39;
 });

 // sidebar-views.html
 &lt;nav data-ng-controller=&quot;W20btViewsController&quot;&gt; ... &lt;/nav&gt;;
</code></pre></div></div>
</div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L805" class="view-source icon-eye-open"> </a><h3 id="methods_getaction">getAction(name)</h3>
<div class="getaction"><div class="w20coreui-service-page w20coreui-service-menuservice-getaction-page"><p>Get the action specified.</p>
</div><h5 id="methods_getaction_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-getaction-page"><p>The name of the action to find</p>
</div></td></tr></tbody></table></div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L853" class="view-source icon-eye-open"> </a><h3 id="methods_getactions">getActions()</h3>
<div class="getactions"><div class="w20coreui-service-page w20coreui-service-menuservice-getactions-page"><p>Get all available actions.</p>
</div></div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L876" class="view-source icon-eye-open"> </a><h3 id="methods_getregisteredactions">getRegisteredActions()</h3>
<div class="getregisteredactions"><div class="w20coreui-service-page w20coreui-service-menuservice-getregisteredactions-page"><p>Get all registered actions.</p>
</div></div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L865" class="view-source icon-eye-open"> </a><h3 id="methods_getregisteredsections">getRegisteredSections()</h3>
<div class="getregisteredsections"><div class="w20coreui-service-page w20coreui-service-menuservice-getregisteredsections-page"><p>Get all registered sections.</p>
</div></div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L793" class="view-source icon-eye-open"> </a><h3 id="methods_getsection">getSection(name)</h3>
<div class="getsection"><div class="w20coreui-service-page w20coreui-service-menuservice-getsection-page"><p>Get the section specified.</p>
</div><h5 id="methods_getsection_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-getsection-page"><p>The name of the section to find</p>
</div></td></tr></tbody></table></div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L842" class="view-source icon-eye-open"> </a><h3 id="methods_getsections">getSections()</h3>
<div class="getsections"><div class="w20coreui-service-page w20coreui-service-menuservice-getsections-page"><p>Get all available sections.</p>
</div></div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L731" class="view-source icon-eye-open"> </a><h3 id="methods_registeractiontype">registerActionType(type, config)</h3>
<div class="registeractiontype"><div class="w20coreui-service-page w20coreui-service-menuservice-registeractiontype-page"><p>Register a new action type.</p>
</div><h5 id="methods_registeractiontype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>type</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-registeractiontype-page"><p>The name of the registered action type</p>
</div></td></tr><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-registeractiontype-page"><p>Configuration of the registered action type</p>
</div></td></tr></tbody></table><h4 id="methods_registeractiontype_example">Example</h4>
<div class="example"><div class="w20coreui-service-page w20coreui-service-menuservice-registeractiontype-page"><p>In themes this is used to register the login and culture dropdown type action</p>
<pre><code> menuService.registerActionType(&#39;w20-login&#39;, {
      templateUrl: &#39;{css-framework}/templates/action-login.html&#39;,
      showFn: function () {
        return authenticationService.isAuthentifiable();
      }
  });

 menuService.registerActionType(&#39;w20-culture&#39;, {
      templateUrl: &#39;{css-framework}/templates/action-culture.html&#39;,
      showFn: function () {
        return cultureService.availableCultures().length &gt; 0;
      }
  });
</code></pre></div></div>
</div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L699" class="view-source icon-eye-open"> </a><h3 id="methods_registersectiontype">registerSectionType(type, config)</h3>
<div class="registersectiontype"><div class="w20coreui-service-page w20coreui-service-menuservice-registersectiontype-page"><p>Register a new section type.</p>
</div><h5 id="methods_registersectiontype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>type</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-registersectiontype-page"><p>The name of the registered section type</p>
</div></td></tr><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-registersectiontype-page"><p>Configuration of the registered section type</p>
</div></td></tr></tbody></table><h4 id="methods_registersectiontype_example">Example</h4>
<div class="example"><div class="w20coreui-service-page w20coreui-service-menuservice-registersectiontype-page"><p>In themes this is used to register the views and bookmark section</p>
<pre><code> menuService.registerSectionType(&#39;w20-views&#39;, { icon: &#39;fa fa-th-list&#39; });

 menuService.registerSectionType(&#39;w20-bookmark&#39;, { icon: &#39;fa fa-star&#39; });
</code></pre></div></div>
</div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L830" class="view-source icon-eye-open"> </a><h3 id="methods_removeaction">removeAction(name)</h3>
<div class="removeaction"><div class="w20coreui-service-page w20coreui-service-menuservice-removeaction-page"><p>Remove the action specified.</p>
</div><h5 id="methods_removeaction_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-removeaction-page"><p>The name of the action to remove</p>
</div></td></tr></tbody></table></div>
</li>
<li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/ui.js#L818" class="view-source icon-eye-open"> </a><h3 id="methods_removesection">removeSection(name)</h3>
<div class="removesection"><div class="w20coreui-service-page w20coreui-service-menuservice-removesection-page"><p>Remove the section specified.</p>
</div><h5 id="methods_removesection_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreui-service-page w20coreui-service-menuservice-removesection-page"><p>The name of the section to remove</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
