<a href="https://github.com/w20-framework/w20/edit/master/modules/security.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/security.js#L966" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">SecurityExpressionService</code>
<div><span class="hint">service in module <code ng:non-bindable="">w20CoreSecurity</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coresecurity-service-page w20coresecurity-service-securityexpressionservice-page"><p>The SecurityExpressionService provides an API to evaluate a security expression.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/security.js#L983" class="view-source icon-eye-open"> </a><h3 id="methods_evaluate">evaluate(expression, locals)</h3>
<div class="evaluate"><div class="w20coresecurity-service-page w20coresecurity-service-securityexpressionservice-evaluate-page"><p>Evaluates the specified security expression to a boolean.</p>
</div><h5 id="methods_evaluate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>expression</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coresecurity-service-page w20coresecurity-service-securityexpressionservice-evaluate-page"><p>The security expression.</p>
</div></td></tr><tr><td>locals</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="w20coresecurity-service-page w20coresecurity-service-securityexpressionservice-evaluate-page"><p>The local variables accessible in the expression.</p>
</div></td></tr></tbody></table><h5 id="methods_evaluate_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="w20coresecurity-service-page w20coresecurity-service-securityexpressionservice-evaluate-page"><p>True if the specified expression evaluates to true, false otherwise.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
