<a href="https://github.com/w20-framework/w20/edit/master/modules/utils.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/utils.js#L262" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">w20Compile</code>
<div><span class="hint">directive in module <code ng:non-bindable="">w20CoreUtils</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coreutils-directive-page w20coreutils-directive-w20compile-page"><p>This directive sets the html evaluated from the expression, sets it as the element children and compiles
it.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY w20-compile&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
