<a href="https://github.com/w20-framework/w20/edit/master/modules/culture.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/culture.js#L1210" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">number</code>
<div><span class="hint">filter in module <code ng:non-bindable="">w20CoreCulture</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coreculture-filter-page w20coreculture-filter-number-page"><p>This filter formats a number into a string by invoking the <code>CultureService.format</code> function.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> number_expression | number <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('number')([pattern])</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>[pattern]</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreculture-filter-page w20coreculture-filter-number-page"><p>Pattern used to format the value (&#39;n&#39; by default).</p>
</div></td></tr></tbody></table></div>
</div>
