<a href="https://github.com/w20-framework/w20/edit/master/modules/notifications.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/notifications.js#L50" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">w20CoreNotifications</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20corenotifications-page"><p>This module provides end-user notifications. The notifications appear on the top right of the page.
Several level of importance can be used : notify, warn or alert user. It is also possible to deactivate built
in notification to keep only those that you explicitly specify.</p>
<h4 id="description_configuration">Configuration</h4>
<pre><code> &quot;notifications&quot; : {
     // Disable built-in notifications (like login, logout, or page access error)
     &quot;disableNotifications&quot; : true|false,
 }
</code></pre><h4 id="description_fragment-definition-sections">Fragment definition sections</h4>
<p>This module has no fragment definition section.</p>
</div></div>
</div>
