<a href="https://github.com/w20-framework/w20/edit/master/modules/utils.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/utils.js#L332" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">checklistModel</code>
<div><span class="hint">directive in module <code ng:non-bindable="">w20CoreUtils</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coreutils-directive-page w20coreutils-directive-checklistmodel-page"><p>AngularJS directive for list of checkboxes by vitalets - <a href="http://vitalets.github.io/checklist-model">http://vitalets.github.io/checklist-model</a></p>
<p>This directive allows selection of several checked value as part of one model (useful when checkboxes are
used inside a repeat loop for instance)</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY checklist-model&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
