<a href="https://github.com/w20-framework/w20/edit/master/modules/application.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/application.js#L203" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">ApplicationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">w20CoreApplication</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-page"><p>The ApplicationService provides access to global application properties.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/application.js#L232" class="view-source icon-eye-open"> </a><h3 id="methods_normalizeroutename">normalizeRouteName(path, separator)</h3>
<div class="normalizeroutename"><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-normalizeroutename-page"><p>This method takes a route path and normalize it into a unique name. When multilevel paths (i.e. paths
containing slashes) are normalized the separator parameter is used to build the name (default separator
is the dot &#39;.&#39;).</p>
</div><h5 id="methods_normalizeroutename_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>path</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-normalizeroutename-page"><p>Route path to normalize.</p>
</div></td></tr><tr><td>separator</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-normalizeroutename-page"><p>The separator used to build the normalized name.</p>
</div></td></tr></tbody></table><h5 id="methods_normalizeroutename_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-normalizeroutename-page"><p>The normalized route name.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_applicationid">applicationId</h3>
<div class="applicationid"><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-applicationid-page"><p>This id can be used to disambiguate between multiple W20 applications when necessary.</p>
</div><h5 id="properties_applicationid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-applicationid-page"><p>the unique id of the application.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="properties_homepath">homePath</h3>
<div class="homepath"><h5 id="properties_homepath_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="w20coreapplication-service-page w20coreapplication-service-applicationservice-homepath-page"><p>the path of the home route.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
