<a href="https://github.com/w20-framework/w20/edit/master/modules/env.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/env.js#L46" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">w20CoreEnv</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coreenv-page"><p>This module provides W20 base features and abstraction from its running environment. Development environment is automatically
set when global debug mode is active and no environment is specified.</p>
<h4 id="description_configuration">Configuration</h4>
<pre><code> &quot;env&quot; : {
     // Explicitly set the environment type (dev, test, preprod and prod are recognized special values).
     &quot;type&quot; : &quot;the environment name&quot;
 }
</code></pre><h4 id="description_fragment-definition-sections">Fragment definition sections</h4>
<p>This module has no fragment definition section.</p>
</div></div>
</div>
