<a href="https://github.com/w20-framework/w20/edit/master/modules/application.js" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><a href="https://github.com/w20-framework/w20/blob/3a26135/modules/application.js#L254" class="view-source"><i class="icon-eye-open"> </i>View source</a><h1><code ng:non-bindable="">$exceptionHandler</code>
<div><span class="hint">service in module <code ng:non-bindable="">w20CoreApplication</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="w20coreapplication-provider-page w20coreapplication-provider--exceptionhandler-page"><p>Replaces the default exception handler of AngularJS. It collapses similar errors (same type, same message, same
stack) and emits an event (<code>w20.core.application.error-occurred</code>). This event can be used to display an error
report.</p>
</div></div>
<div class="member event"><h2 id="events">Events</h2>
<ul class="events"><li><h3 id="events_w20\core\application\error-occurred">w20\.core\.application\.error-occurred</h3>
<div class="w20\core\application\error-occurred"><div class="w20coreapplication-provider-page w20coreapplication-provider--exceptionhandler-w20-core-application-error-occurred-page"><p>This event is emitted on the root scope after an error has occurred. It can be used to
display an error report.</p>
</div><div class="inline"><h4 id="events_w20\core\application\error-occurred_type">Type:</h4>
<div class="type">emitted</div>
</div>
<div class="inline"><h4 id="events_w20\core\application\error-occurred_target">Target:</h4>
<div class="target">root scope</div>
</div>
<h5 id="events_w20\core\application\error-occurred_target_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>allErrors</td><td><a href="" class="label type-hint type-hint-error">Error[]</a></td><td><div class="w20coreapplication-provider-page w20coreapplication-provider--exceptionhandler-w20-core-application-error-occurred-page"><p>The list of all errors that occurred since the last event.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
